#nav-bar { /* main toolbar */
    -moz-box-ordinal-group: 1 !important;
    border-top-width: 0 !important; 
}
#PersonalToolbar { /* bookmarks toolbar */
    -moz-box-ordinal-group: 2 !important;
}
#TabsToolbar { /* tab bar */
    -moz-box-ordinal-group: 3 !important;
}

/* Move the Open Menu, 3-bar button to the left & change its color */

#PanelUI-button {
    -moz-box-ordinal-group: 0 !important;
    color: orangered !important;
    border-left: none !important;
    position: absolute !important;
}

#PanelUI-menu-button {
    list-style-image: url("fxmenu.png") !important;
}

#PanelUI-menu-button > .toolbarbutton-badge-stack {
    background-color: #ffd080;
    border: 1px solid #d96300;
}
