#nav-bar { /* main toolbar */
    -moz-box-ordinal-group: 1 !important;
    border-top-width: 0 !important; 
}
#PersonalToolbar { /* bookmarks toolbar */
    -moz-box-ordinal-group: 2 !important;
}
#TabsToolbar { /* tab bar */
    -moz-box-ordinal-group: 3 !important;
}

/* Move the Open Menu, 3-bar button to the left & change its color */

#PanelUI-button {
    -moz-box-ordinal-group: 0 !important;
    color: orangered !important;
    border-left: none !important;
    position: absolute !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-
}

#PanelUI-menu-button {
    list-style-image: url("fxmenu.png") !important;
    margin-left: 5px !important;
}

#PanelUI-menu-button:hover {
    list-style-image: url("fxmenu_hover.png") !important;
    margin-left: 5px !important;
}

#PanelUI-menu-button > .toolbarbutton-badge-stack {
    background-color: #ffd080;
    border: 1px solid #d96300;
    margin-bottom: -10px; 
    height: 42px; 
    width: 42px;
    padding-left: 12px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

#PanelUI-menu-button:hover > .toolbarbutton-badge-stack {
    background-color: #ff7507 !important;
    border: 1px solid #d96300;
    margin-bottom: -10px; 
    height: 42px; 
    width: 42px;
    padding-left: 12px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

stack.toolbarbutton-badge-stack {
  bottom: -6px;  
}

 .tab-background {
   border-radius: 0px 0px !important;
   margin-bottom: 0px !important;
 }

 .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
   background-color: color-mix(in srgb, currentColor 5%, transparent);
 }

 menupopup>menu,
 menupopup>menuitem {
   padding-block: 2px !important;
 }

 :root {
   --arrowpanel-menuitem-padding: 2px !important;
 }

#tabbrowser-arrowscrollbox {
    padding-left: 5px;
}

#nav-bar-customization-target {
  padding-left: 50px !important;
}

#unified-extensions-button {
  display: none;
}

#titlebar {
  background-color: InactiveCaption !important;
}

#alltabs-button image.toolbarbutton-icon:not(:-moz-window-inactive) {
  color: darkgray !important;
  fill: darkgray !important;
}

tab.tabbrowser-tab:not(:-moz-window-inactive) {
  color: rgb(49, 54, 59) !important;
}

tab.tabbrowser-tab:-moz-window-inactive {
  color: #7F7F7F !important;
}

#alltabs-button image.toolbarbutton-icon::-moz-window-inactive {
  color: gray !important;
  fill: gray !important;
}

#PanelUI-menu-button stack image {
  margin-top: -2px;
}

toolbarbutton.toolbarbutton-1:hover {
  color: rgb(49, 54, 59) !important;
}

#tabs-newtab-button {
  color: darkgray !important;
}

#tabs-newtab-button:hover {
  color: rgb(49, 54, 59) !important;
}

menu {
  color: rgb(49, 54, 59) !important;
}

menu:hover {
  background-color: ActiveCaption !important;
}
